/* swal */
    .swal-overlay {
      background-color: rgba(0, 0, 0, 0.9);
    }
    .swal-modal {
      background-color: rgb(0, 255, 21);
      border: 3px solid rgb(0, 0, 0);
    }
    .swal-title {
      margin: 0px;
      font-size: 18px;
      margin-bottom: 28px;
      color: #000;
      text-transform: uppercase;
    }
    .swal-icon{
      height: 40%;
      width: 40%;
    }
    .swal-text{
      color: black;
      text-transform: uppercase;
    }
    .swal-footer {
      background-color: rgb(245, 248, 250);
      margin-top: 32px;
      border-top: 1px solid #bac2c7;
      overflow: hidden;
      text-align: center;
    }
    .swal-button {
      padding: 10px 19px;
      border-radius: 5px;
      font-size: 12px;
      border: 1px solid #000000;
      text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
      color: rgb(255, 255, 255);
    }
    .swal-button--reiniciar{
      background-color:  rgb(0, 255, 21);
    }
    .swal-button--home {
      background-color: rgba(255, 0, 0, 0.952);
    }
    .swal-button--reanudar{
      background-color:  rgb(0, 255, 21);
    }